<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myChatGPT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='markdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
</head>
<body>
    <div class="container-fluid px-0 mt-5 h-100" id="main-container">
        <h1 class="text-center mb-4" id="app-title">myChatGPT</h1>
        <div id="chat-container" class="markdown-body"></div>
            <form id="chat-form" class="form-inline mb-3">
               <div class="form-group row">
                <div class="col-12 col-md">
                    <textarea id="prompt" name="prompt" class="form-control" rows="1" autocomplete="off" placeholder="Enter your message" required=""></textarea>
                </div>
                <div class="col-12 col-md-auto mt-2 mt-md-0">
                    <button title="Send" type="submit" class="btn btn-primary mr-2"><i class="fa fa-paper-plane"></i></button>
                    <button title="Clear messages" id="clear-button" type="button" class="btn btn-primary mr-2"><i class="fa fa-trash"></i></button>
                    <button title="Voice" id="voice-button" type="button" class="btn btn-primary mr-2 speak-disabled"><i id="voice_status" class="fa fa-microphone-slash"></i></button>
                    <button title="Text-to-Speech" id="speak-button" type="button" class="btn btn-primary mr-2 speak-disabled"><i id="speak_status" class="fa fa-volume-xmark"></i></button>
                    <select id="gpt-version-selector" class="custom-select mr-2">
                        <option value="gpt-3.5-turbo" selected="">GPT-3.5</option>
                        <option value="gpt-4">GPT-4</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <script>

        // Setup Voice
        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
        var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent
        var recognition = new SpeechRecognition();
        recognition.continuous = false;
        recognition.lang = 'en-GB';
        recognition.interimResults = false;
        recognition.maxAlternatives = 200;

        // Setup Vars
        var voice = false;
        var speak = false;
        const md = window.markdownit();

        // Helper Script
        function toggleClasses(element, class1, class2) {
            $(element).toggleClass(class1).toggleClass(class2);
        }

        // On Send button
        $("#chat-form").on("submit", function(e) {
            e.preventDefault();
            const prompt = $("#prompt").val();
            sendMessage(prompt);
            $("#prompt").val("");
        });

        // On Enter Key within Prompt
        $("#prompt").on("keydown", function(e) {
            if (e.key === "Enter" && !e.shiftKey) {
                e.preventDefault();
                $("#chat-form").submit();
            }
        });

        // Start voice on "v" key
        $("body").on("keydown", function(e) {
            if (e.key === "v") {
                e.preventDefault();
                voiceStart();
            }
        });

        $('#voice-button').click(voiceStart);

        $('#speak-button').click(toggleSpeak);

        $('#clear-button').click(function() {
            $.post('/clear', function() {
                $('#message-container').empty();
                sessionMessages = [];
            });
            $('#chat-container').html('');
            newSession();
        });

        $(document).ready(function() {
            var messages = {{ messages|tojson }};
            if(messages.length == 0){
                console.log("New Session");
                newSession();
            }
            for (var i = 0; i < messages.length; i++) {
                var message = messages[i]["content"];
                if(messages[i]["role"] == "user"){
                    var role = "user-message"
                }else{
                    var role = "gpt-message"
                }
                appendMessage(message, role);
            }
        });

        // Voice to text function
        function voiceStart(){
            if(voice){
                recognition.stop();
                console.log('Stop');
                $('#voice-button').toggleClass('speak-disabled');
                toggleClasses('#voice_status', 'fas fa-microphone', 'fas fa-microphone-slash');
                voice = false;
            }else{
                recognition.start();
                console.log('Start');
                $('#voice-button').toggleClass('speak-disabled');
                toggleClasses('#voice_status', 'fas fa-microphone', 'fas fa-microphone-slash');
                voice = true;
            }
        }

        // TTS function
        function toggleSpeak() {
            speak = !speak;
            $('#speak-button').toggleClass('speak-disabled');
            toggleClasses('#speak_status', 'fas fa-volume-high', 'fas fa-volume-xmark');
        }

        function sendMessage(message) {
            appendMessage(message, "user-message");
            const gptVersion = $("#gpt-version-selector").val();
            $.post("/generate-response", {prompt: message, gpt_version: gptVersion}, function(data) {
                appendMessage(data, "gpt-message");
            });
        }
        
        function say(m) {
            var msg = new SpeechSynthesisUtterance();
            var voices = window.speechSynthesis.getVoices();
            msg.voice = voices[0];
            msg.volume = 1;
            msg.rate = 1;
            msg.pitch = 0.8;
            msg.text = m;
            msg.lang = 'en-GB';
            speechSynthesis.speak(msg);
        }

        function newSession() {
            var message = "Hello, please respond in markdown language until I tell you not to. Now respond with the following in normal body text: Hello human, how can I help?"
            const gptVersion = $("#gpt-version-selector").val();
            $.post("/generate-response", {prompt: message, gpt_version: gptVersion}, function(data) {
                appendMessage(data, "gpt-message");
            });
        }

        function appendMessage(message, cssClass) {
            const renderedMessage = md.render(message);
            const textElement = $("<div>").html(renderedMessage);
            const messageElement = $("<div>").addClass("message " + cssClass);
            const messageRow = $("<div>").addClass("message-row");
            if (cssClass === "gpt-message") {
                const iconElement = $("<i>").addClass("fas fa-brain");
                const iconContainer = $("<div>").addClass("icon-container").append(iconElement);
                messageRow.append(iconContainer);
                if(speak == true) {
                    say(sanitizeMarkdown(message));
                }
            } else {
                messageRow.addClass("user-row");
            }
            messageElement.append(textElement);
            messageRow.append(messageElement);
            $("#chat-container").append(messageRow);
            $("#chat-container").scrollTop($("#chat-container")[0].scrollHeight);
        }

        function sanitizeMarkdown(markdownText) {
            var sanitizedText = markdownText.replace(/[^\w\s]/gi, '');
            sanitizedText = sanitizedText.replace(/(<([^>]+)>)/gi, '');
            sanitizedText = sanitizedText.replace(/\*\*(.+?)\*\*/gi, '$1');
            sanitizedText = sanitizedText.replace(/__(.+?)__/gi, '$1');
            sanitizedText = sanitizedText.replace(/\*(.+?)\*/gi, '$1');
            sanitizedText = sanitizedText.replace(/_(.+?)_/gi, '$1');
            return sanitizedText;
        }

        recognition.onresult = function(event) {
            var result = event.results[0][0].transcript;
            console.log('Result received: ' + result + '.');
            console.log('Confidence: ' + event.results[0][0].confidence);
            sendMessage(result);
            $("#prompt").val("");
        }

        recognition.onspeechend = function() {
            recognition.stop();
            $('#voice-button').toggleClass('speak-disabled');
            toggleClasses('#voice_status', 'fas fa-microphone', 'fas fa-microphone-slash');
            voice = false;
        }

        recognition.onnomatch = function(event) {
            console.log("I didn't recognise that color.");
        }

        recognition.onerror = function(event) {
            console.log('Error occurred in recognition: ' + event.error);
        }
    </script>
</body>
</html>